@{
    ViewData["Title"] = "Home Page";
}
<div class="mb-3" style="max-width: 840px;">
    <div class="row g-0">
        <div class="col-md-4 order-2">
            <img src="/Img/MacBook Notebook.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8 order-1">
            <div class="card-body">
                <h3 class="card-title">Menor preço do mercado</h3>
                <p class="card-text">Todos os produtos com garantia de 2 anos,entregamos em ate 24h apos o pagamento.</p>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <h3 class="text-center">Tecnologia com baixo preço</h3>
    <div class="card-group g-3">
    <div class="card">
        <img src="/Img/Headphones.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Headphones</h5>
             <p class="card-text">Com os avanços nas tecnologias Bluetooth, os headphones sem fio modernos oferecem uma qualidade de som excepcional, comparável aos modelos com fio..</p>
             <p class="card-text"><small class="text-muted">R$ 39,90</small></p>
        </div>
    </div>
    <div class="card">
        <img src="/Img/MacBook Notebook.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">MacBook</h5>
            <p class="card-text">MacBook é uma linha de computadores portáteis clássicos,voltados para o uso diário e atividades leves. Produzido até 2015</p>
            <p class="card-text"><small class="text-muted">R$ 889,90</small></p>
        </div>
    </div>
    <div class="card">
        <img src="/Img/PC Gamer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">PC Gamer</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">R$ 1389,90</small></p>
        </div>
    </div>
</div>
</div>
