@model EletronicSystem.Business.ViewModels.ProdutoViewModel

@{
    var categorias = ViewData["Categoria"] as Array;  
}

<h1 class="text-center">Novo produto</h1>

<div class="container d-flex justify-content-center">
    <div class="col-5">
        <form method="post" enctype="multipart/form-data" asp-validation-summary="ModelOnly">
            <div>
                <label class="form-label mb-1">Foto</label>
                <input type="file" id="Arquivo" name="Arquivo" class="form-control" />
                <span asp-validation-for="Arquivo" class="text-danger"></span>
            </div>
            <div>
                <label class="form-label mb-1">Descrição</label>
                <input asp-for="Descricao" class="form-control">
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div>
                <label class="form-label mb-1">Valor</label>
                <input asp-for="Valor" class="form-control">
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div>
                <label class="form-label mb-1">Categoria</label>
                <select asp-for="Categoria" class="form-control" id="Categoria">
                    @foreach (var categoria in categorias)
                    {
                        <option value="@categoria.ToString()">@categoria</option>
                    }
                </select>
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>
            <button type="submit" class="btn-primary btn-lg mt-2" asp-controller="Produto" asp-action="Create">Enviar</button>
        </form>
    </div>
</div>

@if (TempData["Sucesso"] != null)
{
    <div class="alert alert-success">@TempData["Sucesso"]</div>
}

@if (TempData["Erros"] != null)
{
    <div class="alert alert-danger">@TempData["Erros"]</div>
}
