@model IEnumerable<EletronicSystem.Business.ViewModels.ProdutoViewModel>

@{
    ViewData["Tittle"] = "Lista de produtos";
}

<h1>Lista de Produtos</h1>

<table class="table">
    <tread>
        <th>Id</th>
        <th>Descriçao</th>
        <th>Valor</th>
    </tread>
    <tbody>
        @if(Model != null)
        {
            @foreach (var produto in Model)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.Valor</td>
                </tr>
            }
        }
     
    </tbody>

</table>